@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
    --peso-fonte-primario: 600;
    --peso-fonte-secundario: 400;
    --tamanho-fonte-primaria: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-fonte-primaria);
    font-weight: var(--peso-fonte-primario);
    text-decoration: none;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.titulo__destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-fonte-primaria);
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: #22d4fd;
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-primaria);
    font-weight: var(--peso-fonte-secundario);
}

.apresentacao__links__navegacao {
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    color: #f6f6f6;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: var(--tamanho-fonte-primaria);
    font-weight: var(--peso-fonte-primario);
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    font-weight: var(--peso-fonte-secundario);
    padding: 24px;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
